@import "tailwindcss";

:root {
  --background-light: #f5f7f8;
  --background-dark: #0b0c15;
  --foreground-light: #171717;
  --foreground-dark: #ededed;

  --primary: #259df4;
  --glass-dark: rgba(17, 25, 40, 0.75);
  --glass-border: rgba(255, 255, 255, 0.125);
}

@theme inline {
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-foreground-light: var(--foreground-light);
  --color-foreground-dark: var(--foreground-dark);

  --color-primary: var(--primary);
  --color-glass-dark: var(--glass-dark);
  --color-glass-border: var(--glass-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #0b0c15;
    --foreground-light: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}
.glass-panel {
  background: rgba(0, 4, 10, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-background {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(37, 157, 244, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(37, 157, 244, 0.05) 1px, transparent 1px);
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}

.text-glow {
  text-shadow: 0 0 20px rgba(37, 157, 244, 0.5);
}
